.itemG{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    font-size: 2rem;
    position: relative;
    border-radius: 1.6rem;
    overflow: hidden;
    box-shadow: 2px 2px 0 0 var(--color-three-dark);
    transition: box-shadow 400ms;
    width: 100%;
    margin: auto;
   
    
}