.item{
   
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    margin-top: 30px;
}

.botonesGeneral{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.botonIncrementar {
    /* background-color: black; */
    border: none;
    color: rgb(1, 0, 0);
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 30px;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: black;
}

.botonDecrementar {
   
    border: none;
    color: black;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 30px;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: black;
    margin-right: 15px;
}

.botonComprar{
    background-color: #000202;
    border: none;
    color: white;
    padding: 6px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 30px;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: rgb(255, 255, 255);
}

.contador{
    margin: 15px;
    display: block;
    margin-top: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: black;
}

